:root{
  --light-bg: #FFFAE8;
  --blue: #4A7D85;
  --green: #4A573E;
  --red: #822D12;
  --light-text: #F2EDE6;
}
html{
font-size: 18px;
}
body{
font-family: 'Playfair Display', sans-serif;
margin:0;
padding:0;
}
/*-----header-----*/
.menu-bar{
position: absolute;
background: var(--light-bg);
display: grid;
grid-template-columns: 40% 20% 26% 7% 7%;
width: 90%;
top: 40px;
left: 4%;
right: 4%;
padding-top: 3px;
padding-bottom: 3px;
jutify-self: center;
align-items: center;
font-size: 1rem;
box-shadow: 2px 2px 15px #8F8F8F;
}
.menu-bar a{
text-decoration: none;
color: var(--green);
}
.menu-bar a:hover{
color: var(--blue);
}
.menu ul{
list-style-type: none;
}
.menu li{
display: inline-block;
width: 20%;
}
.menu li a{
text-decoration: none;
color: var(--green);
}
.menu li a:hover{
color: var(--blue);
}
.current-page a{
color: var(--blue);
}
.site-logo{
justify-self: center;
}
.site-logo svg{
width: 50%;
padding-right: 33%;
padding-left: 33%;
}
.cart svg{
width: 25%;
}
/*-----header end-----*/